.game-cell {
    padding: 0;
}

.game-cell button {
    background: none;
    border: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    color: black;
    font-size: 60pt;
}

#winner-alert {
    text-align: center;
}

p {
    margin: 0;
}
